<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <style>
      header {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        text-align: center;
        padding: 10px 20px;
        background-color: #f4f4f4;
      }
      nav ul {
        display: flex;
        list-style: none;
      }
      nav ul li {
        margin-right: 20px;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <div class="row">
        <div class="col">
          <h3>Aggregator</h3>
        </div>
      </div>
      <!-- <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav> -->
    </header>

    <div class="jumbotron">
      <form action="" method="get">
        <div class="row">
          <div class="col-md-5">
            <label for="exchange">Select Exchange</label>
            <select name="exchange" class="form-control" id="exchange">
              <option value="" disabled selected>Select an option</option>
              <option value="kucoin">KuCoin</option>
              <option value="huobi">Huobi</option>
              <option value="mexc">MEXC</option>
              <option value="bybit">Bybit</option>
              <option value="okx">OKX</option>
            </select>
          </div>
          <div class="col-md-5">
            <label for="duration">Select Preferred History Range</label>
            <select name="duration"  id="duration" class="form-control">
              <option value="" disabled selected>Select an option</option>
              <option value="7">7 days</option>
              <option value="14">14 days</option>
            </select>
          </div>
          <div class="col-md-2 align-items-center justify-content-center">
            <label >Select Preferred History Range</label>
            <button type="submit" class="btn btn-primary btn-block">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <table class="table table-bordered table-striped" id="myTable">
      <thead>
        <tr>
          <th class="sortable-header">Name</th>
          <th class="sortable-header">Pair</th>
          <% const uniqueDates = []; %> 
          <% data.forEach(item => { %> 
            <% item.history.forEach(historyItem => { %> 
              <% if (!uniqueDates.includes(historyItem.fundingDate)) { %> 
                <% uniqueDates.push(historyItem.fundingDate); %>
                <th class="sortable-header"><%= historyItem.fundingDate %></th>
              <% } %> 
            <% }); %> 
          <% }); %>
          <th class="sortable-header">Average Funding Rate</th> <!-- New column for average funding rate -->
        </tr>
      </thead>
      <tbody>
        <% data.forEach(item => { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.pair %></td>
          <% uniqueDates.forEach(date => { %> 
            <% const historyItem = item.history.find(hist => hist.fundingDate === date); %>
            <td><%= historyItem ? historyItem.fundingRate + '%' : 'N/A' %></td>
          <% }); %>
          <!-- Calculate average funding rate for each row -->
          <% const fundingRates = item.history.map(hist => parseFloat(hist.fundingRate)); %>
          <% const sumFundingRates = fundingRates.reduce((acc, rate) => acc + rate, 0); %>
          <% const averageFundingRate = fundingRates.length > 0 ? (sumFundingRates / fundingRates.length).toFixed(2) : NaN; %>
          <td><%= !isNaN(averageFundingRate) ? averageFundingRate + '%' : 'N/A' %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const headers = document.querySelectorAll(".sortable-header");
        headers.forEach((header, index) => {
          header.addEventListener("click", () => {
            sortColumn(index);
          });
        });

        function sortColumn(index) {
          const table = document.getElementById("myTable");
          const rows = Array.from(table.querySelectorAll("tbody tr"));
          const isDescending =
            table.rows[0].cells[index].classList.contains("desc");

          rows.sort((a, b) => {
            const aValue = getValue(a.cells[index]);
            const bValue = getValue(b.cells[index]);

            if (aValue < bValue) return isDescending ? 1 : -1;
            if (aValue > bValue) return isDescending ? -1 : 1;
            return 0;
          });

          if (isDescending) {
            table.rows[0].cells[index].classList.remove("desc");
            table.rows[0].cells[index].classList.add("asc");
          } else {
            table.rows[0].cells[index].classList.remove("asc");
            table.rows[0].cells[index].classList.add("desc");
          }

          rows.forEach((row) => {
            table.querySelector("tbody").appendChild(row);
          });
        }

        function getValue(cell) {
          const text = cell.textContent || cell.innerText;
          if (text.includes("%")) {
            return parseFloat(text.replace("%", "").trim());
          } else {
            return isNaN(parseFloat(text)) ? text : parseFloat(text);
          }
        }
      });
    </script>
  </body>
</html>
